body{
  background: url('./img/background.jpeg');
  font: serif;
  background-attachment: fixed;

  color: black;
}

div{
  width: 70%;
  max-width:  500px;

  margin: 0px auto;
  text-align: center;
  background-color: burlywood;

  padding: 40px;
}

.product{
  display: inline-block;
  text-align: left;
  width: 74%;

  font-size: 20px;
}

.cost{
  display: inline-block;
  text-align: right;
  width: 25%;

  font-size: 20px;
}

h1{
  margin-top: 0px;
}

hr{
  background-color: brown;
  height: 2px;
  border-color: brown;
}

a{
  text-decoration: none;
}

a:hover{
  color: brown;
}

p{
  margin-bottom: 2px;
  /* margin-top: 5px; */
}

header p{
  font-style: italic;
  margin-top: -10px;
}
h1{
  margin-top: -25px ;
  font-size: 40px;
}

h2{
  font-size: 30px;
}

.text{
  margin-bottom: -10px;
}

img{
  margin-top: -40px;
}